<div id="<%= dom_id assignment %>">
  <p>
    <strong>Professor:</strong>
    <%= assignment.professor_id %>
  </p>

  <p>
    <strong>Time block:</strong>
    <%= assignment.time_block_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= assignment.course_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= assignment.classroom_id %>
  </p>

</div>
