<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.text_field :course_id %>
  </div>

  <div>
    <%= form.label :section_num, style: "display: block" %>
    <%= form.number_field :section_num %>
  </div>

  <div>
    <%= form.label :professor_id, style: "display: block" %>
    <%= form.text_field :professor_id %>
  </div>

  <div>
    <%= form.label :time_block_id, style: "display: block" %>
    <%= form.text_field :time_block_id %>
  </div>

  <div>
    <%= form.label :classroom_id, style: "display: block" %>
    <%= form.text_field :classroom_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
