<div id="<%= dom_id section %>">
  <p>
    <strong>Course:</strong>
    <%= section.course_id %>
  </p>

  <p>
    <strong>Section num:</strong>
    <%= section.section_num %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= section.professor_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= section.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= section.end %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= section.classroom_id %>
  </p>

</div>
