<div id="<%= dom_id section %>">
  <p>
    <strong>Course:</strong>
    <%= section.course_id %>
  </p>

  <p>
    <strong>Section num:</strong>
    <%= section.section_num %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= section.professor_id %>
  </p>

  <p>
    <strong>Time block:</strong>
    <%= section.time_block_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= section.classroom_id %>
  </p>

</div>
