<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= course.identifier %>
  </p>

  <p>
    <strong>Needs lab:</strong>
    <%= course.needs_lab %>
  </p>

  <p>
    <strong>Course size:</strong>
    <%= course.course_size %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= course.level %>
  </p>

  <p>
    <strong>Double block:</strong>
    <%= course.double_block %>
  </p>

</div>
