<div id="<%= dom_id time_block %>">
  <p>
    <strong>Identifier:</strong>
    <%= time_block.identifier %>
  </p>

  <p>
    <strong>Is double:</strong>
    <%= time_block.is_double %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= time_block.day %>
  </p>

  <p>
    <strong>Timeslot:</strong>
    <%= time_block.timeslot %>
  </p>

</div>
